<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>{{ app_name }}</title>
    <link href={{ static_base_url }}/css/app.css?v={{ static_version }} rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type="application/javascript">
    var requestBaseUrl = '{{ app_request_base_url }}';
    var authBaseUrl = '{{ auth_request_base_url }}';
</script>
<script type=text/javascript src={{ static_base_url }}/js/manifest.js?v={{ static_version }}></script>
<script type=text/javascript src={{ static_base_url }}/js/vendor.js?v={{ static_version }}></script>
<script type=text/javascript src={{ static_base_url }}/js/app.js?v={{ static_version }}></script>
</body>
</html>